body {
    font-style: italic;color: red;
    font-family: sans-serif;cursor: alias;
    margin: 50px;
    border-style: solid;
    border-width: 4px;
    border-color: lightblue;
    background-color: lightgreen;
}

.center-div {
  width: 30%;
  border: solid 3px black;
  height: 400px;
}

.center-div img {
  width: 150px;
  height: auto;
}

#floated {
  float: right;
}

#center-horz {
  text-align: center;
}

#center-img {
  text-align: center;
}

#center-both img {
  position: relative;
}

#center-both img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
